{% extends "base.html" %}
{% block content %}
    <h1>Your Contacts</h1>
    <table class="w3-table w3-bordered w3-striped">
        <thead><tr><th>Contact</th><th>Type</th></tr></thead>
        {% for row in results %}
        <tr>
            <td>{{ row['name'] }}</td> <td>{{ row['type'] }}</td>

            <td><form action="{{ url_for('show_contact', contact_id=row['id']) }}" method="post" class=show-contact>
                    <input type="hidden" name="contact_id" value="{{ row['id'] }}">
                    <input type="submit" value="edit contact" >
                </form></td>

            <td><form action="{{ url_for('delete_contact') }}" method="post" class=delete-contact>
                    <input type="hidden" name="contact_id" value="{{ row['id'] }}">
                    <input type="submit" value="delete contact"
                 onclick="return confirm('Are you sure?  This will delete all transactions with this contact.')"/>
                </form></td>
        </tr>
        {% endfor %}
    </table>
    <p>.</p>

    <form action="{{ url_for('add_contact') }}" method=post class=add_contact>
    <fieldset>
        <legend>Add a new contact here:</legend>
        <p>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" size="20" required>
        </p>
        <label for="type">Type:</label>
        <select name="type" id="type">
            <option value='person'>person</option>
            <option value='retailer'>retailer</option>
            <option value='exchange'>exchange</option>
        </select>
        <p>
        <input type="submit" id="add_contact" value="add contact">
        </p>
    </fieldset>
    </form>
    <p></p>
{% endblock %}
