{% extends "base.html" %}
{% block content %}
    <h1>Currencies</h1>
    <table class="w3-table w3-bordered w3-striped">
        <thead><tr><th>Name</th><th>Ticker</th></tr></thead>
        {% for row in results %}
        <tr>
            <td>{{ row['name'] }}</td><td> {{ row['ticker'] }}</td>
            <td><form action="{{ url_for('delete_currency') }}" method="post" class=delete-currrency>
                    <input type="hidden" name="currency_id" value="{{ row['id'] }}">
                    <input type="submit" value="Delete" />
                </form></td>
        </tr>
        {% endfor %}
    </table>
    <p></p>

    <form action="{{ url_for('add_currency') }}" method=post class=add_currency>
    <fieldset>
        <legend>Add a new currency here:</legend>
        <p>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" size="20">
        </p>
        <p>
        <label for="ticker">Ticker:</label>
        <input type="text" name="ticker" id="ticker" size="20">
        </p>
        <p>
        <input type="submit" id="add_currency" value="add currency">
        </p>
    </fieldset>
    </form>
    <p></p>
<a href="{{ url_for('show_currency_balances') }}">back to current balances</a>
{% endblock %}
